name: Pipelines
run-name: Drift Detection
on:
  workflow_call:
    inputs:
      # This field can be overriden to customize the runner used for pipelines
      # workflows.
      #
      # IMPORTANT: To use self-hosted runners this workflow must be hosted in
      # the same GitHub organization as your infra-live repository.
      # See https://docs.github.com/en/actions/using-workflows/reusing-workflows#using-self-hosted-runners
      #
      # The value must be an escaped JSON string that will be decoded to the
      # jobs.runs-on field
      # See https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idruns-on
      #
      # For example:
      # - A simple github runner: "\"ubuntu-22.04\""
      # - A list of labels: "[\"self-hosted\", \"linux\"]"
      # - A map: "{group: \"ubuntu-runners\", labels: \"ubuntu-20.04-16core\"}"
      runner:
        type: string
        default: '"ubuntu-latest"'
      branch-name:
        type: string
        default: "drift-detection"
    secrets:
        PIPELINES_READ_TOKEN:
          required: true
        PR_CREATE_TOKEN:
          required: true
env:
  PIPELINES_CLI_VERSION: v0.29.0-rc5
  PIPELINES_ACTIONS_VERSION: v3-rc1
  BOILERPLATE_VERSION: v0.5.16
  GRUNTWORK_INSTALLER_VERSION: v0.0.40

jobs:
  determine_units:
    name: Detect Infrastructure Drift
    runs-on: ${{ fromJSON(inputs.runner) }}
    outputs:
      units: ${{ steps.determine-units.outputs.units }}
    steps:
      - name: Checkout Pipelines Actions
        uses: actions/checkout@v4
        with:
          path: pipelines-actions
          repository: gruntwork-io/pipelines-actions
          ref: ${{ env.PIPELINES_ACTIONS_VERSION }}
          token: ${{ secrets.PIPELINES_READ_TOKEN }}

      - name: Check out repo code
        uses: actions/checkout@v4
        with:
          path: infra-live-repo
          fetch-depth: 0

      - name: Determine Units
        id: determine-units
        uses: ./pipelines-actions/.github/actions/pipelines-drift-detection-determine-units

  pipelines_drift_detection:
    runs-on: ${{ fromJSON(inputs.runner) }}
    needs: determine_units
    strategy:
      fail-fast: false
      matrix:
        unit: ${{ fromJSON(needs.determine_units.outputs.units) }}
    env:
      JOB_NAME: Detect Drift in ${{ matrix.unit.path }}
    name: Detect Drift in ${{ matrix.unit.path }}
    steps:
      - name: Checkout Pipelines Actions
        uses: actions/checkout@v4
        with:
          path: pipelines-actions
          repository: gruntwork-io/pipelines-actions
          ref: ${{ env.PIPELINES_ACTIONS_VERSION }}
          token: ${{ secrets.PIPELINES_READ_TOKEN }}

      - name: Check out repo code
        uses: actions/checkout@v4
        with:
          path: infra-live-repo
          fetch-depth: 0

      - name: Execute Drift Detection
        id: determine-drift
        uses: ./pipelines-actions/.github/actions/pipelines-drift-detection-determine-drift
        with:
          UNIT_ID: ${{ matrix.unit.id }}
          UNIT_PATH: ${{ matrix.unit.path }}
          PIPELINES_READ_TOKEN: ${{ secrets.PIPELINES_READ_TOKEN }}
          JOB_NAME: ${{ env.JOB_NAME }}
          STEP_NAME: "Execute Drift Detection"

  consolidate_jobs:
    runs-on: ${{ fromJSON(inputs.runner) }}
    needs: pipelines_drift_detection
    steps:
      - name: Checkout Pipelines Actions
        uses: actions/checkout@v4
        with:
          path: pipelines-actions
          repository: gruntwork-io/pipelines-actions
          ref: ${{ env.PIPELINES_ACTIONS_VERSION }}
          token: ${{ secrets.PIPELINES_READ_TOKEN }}

      - name: Check out repo code
        uses: actions/checkout@v4
        with:
          path: infra-live-repo
          fetch-depth: 0

      - name: "Consolidate Jobs"
        id: consolidate-jobs
        uses: ./pipelines-actions/.github/actions/pipelines-drift-detection-consolidate-jobs
        with:
          PIPELINES_READ_TOKEN: ${{ secrets.PIPELINES_READ_TOKEN }}
          PR_CREATE_TOKEN: ${{ secrets.PR_CREATE_TOKEN }}
          BRANCH_NAME: ${{ inputs.branch-name }}
